{% extends 'base.html' %}

{%block title%}Home{% endblock title %}



{%block body%}
<div class="container-fluid my-4 px-0">
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
    <h1> Welcome</h1>
      <img src="https://images.squarespace-cdn.com/content/v1/53580594e4b0df9a8f12671d/1499978863513-TPPJDZZ7T89FQZ7MXPVY/ke17ZwdGBToddI8pDm48kBV2fDZA8bP3r7mhBL3c5I4UqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYy7Mythp_T-mtop-vrsUOmeInPi9iDjx9w8K4ZfjXt2dkSjgVIYDs5UHxGNOgdiVijn9xBrP2iIhdVB6dQbn6Hcm7cT0R_dexc_UL_zbpz6JQ/recruitment-banner.jpg?format=1500w" class="d-block w-100" alt="...">
    </div>
  </div>
</div>
</div>

        
    </div>

{% endblock body %}
