{% extends 'base.html' %}

{%block title%}JOB1{% endblock title %}

{%block body%}

        <h1>Welcome to Bosch</h1>
        <h1>Job Description:</h1>
       <h3> Good knowledge on CAN, CAN FD, LIN communication. Good to have BCM/Zone ECU domain knowledge Good to have TPT testing experience. 
       Shall able to understand the system requirements and derive the test cases.</h3>
        <div>
        <h1> Salary : 5LPA </h1>
        <h2>Job Responsibilities <h2>
<h4>Familiar with software development tool chain like ALM, SCM, RQM, DNG or equivalent similar tools.</h4>
<h4>Adhere to automotive safety standard ISO26262 and ASPICE standard.</h4>
<h4>ISTQB certification and automotive ECU testing process knowledge.</h4>

</div>
{% endblock body %}